/* You can add global styles to this file, and also import other style files */
*{
  padding:0;
  margin:0;
  border:0;
  box-sizing: border-box;
  color:antiquewhite;
}

body{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://img.freepik.com/fotos-premium/clash-of-the-creatures-uma-batalha-realista-de-anime-4k-cao-contra-gato-no-escuro_983420-2432.jpg?w=1060");
}
